body {
  margin: 1px;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loadingSpinner{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.input-ntext {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.input-ntext h3{
  color: #9cc4d7;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 2px 2px 4px rgba(211, 18, 18, 0.3);
  text-align: center !important;
}

.input-ntext input{
  width: 50vw;
  border-radius: 10px;
}
.input-ntext input::hover {
  color:black;
  background-color: #fff;
}

.top-card {
  /* display: flex;
  height: 100%; */
  
}

.top-card .header{
  margin: auto;
  text-align: center;
}

.logout-btn {
  position: absolute;
  right: 0px;
}
.logout-btn button {
  background: hsla(160, 12%, 95%, 0.476) !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border: none!important;
}
.logout-btn button:hover {
  background: hsla(160, 12%, 95%, 0.388) !important;
}
.transition-size {
  transition: font-size 1.0s ease-in-out;
}
.transition-size:hover {
  font-size: 0.99rem;
}
.navb {
  background-color: rgba(64, 69, 58, 0.521);
  border: none !important;
}

@media only screen and (max-width: 482px) {
  .top-card .header{
    margin-top: 30px;
  }
  
}

.header h1{
  color: #f2f4f5;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(223, 101, 101, 0.326);
  font-size: 42px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid with min-width of 200px */
  gap: 20px;
}

.image-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

/* CSS for the image animation */
.image-animation {
  transition: transform 0.5s ease; /* Add a smooth transition effect */
}

.image-animation:hover,
.image-animation:focus {
  transform: scale(1.1); /* Increase the scale on hover/focus */
}

.search-image {
  width: 100%;
  height: 200px;
  padding: 1px !important;
}

.custom-image-card {
  background-color: transparent !important;
  border: none !important;
}

.custom-image-card :hover {
  border: none !important;
}
.custom-image-card :focus {
  border: none !important;
}

.custom-image-card :focus-visible {
  background-color: transparent !important;
  border: none !important;
}

/* CSS FOR DRAG ANIMATION */
/* Add animation properties for the dragged item */
